[submodule "nx-gestion-soutien/packages/GestionSoutien/nx-gestion-soutien/packages/GestionSoutien/src/django-dbbackup"]
	path = nx-gestion-soutien/packages/GestionSoutien/nx-gestion-soutien/packages/GestionSoutien/src/django-dbbackup
	url = https://github.com/django-dbbackup/django-dbbackup.git
