{% extends 'base.html' %}
{% block content %}
<h1>Add genre:</h1>
<form role="form" method ="POST" action ="{{ url_for('save_genre')}}">
{{ form.hidden_tag() }}
    {% if form.name.errors %}
    <div class = "form-group has-error">
    {% else %}
    <div class = "form-group">
    {% endif %}
    {{ form.name.label }} {{ form.name(size =50,
    class_="form-control") }}
    </div>    
    {%if form.name.errors %}
    <ul class="list-group">
        {% for error in form.name.errors %}
        <li class="list-group-item list-group-item-danger">
            {{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <input class="btn btn-default" type="submit" value ="Save">
</form>
{% endblock %}