{% extends 'base.html' %}
{% block content %}
<h1>Add book:</h1>
<form role="form" method ="POST" action ="{{ url_for('save_book')}}">
{{ form.hidden_tag() }}
    {% if form.title.errors %}
    <div class = "form-group has-error">
    {% else %}
    <div class = "form-group">
    {% endif %}
    {{ form.title.label }} {{ form.title(size =50,
    class_="form-control") }}
    </div>   
    {%if form.title.errors %}
    <ul class="list-group">
        {% for error in form.title.errors %}
        <li class="list-group-item list-group-item-danger">
            {{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if form.price.errors %}
    <div class = "form-group has-error">
    {% else %}
    <div class = "form-group">
    {% endif %}
    {{ form.price.label }} {{ form.price(size =50,
    class_="form-control") }}
    </div>    
    {%if form.price.errors %}
    <ul class="list-group">
        {% for error in form.price.errors %}
        <li class="list-group
        -item list-group-item-danger">
            {{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if form.url.errors %}
    <div class = "form-group has-error">
    {% else %}
    <div class = "form-group">
    {% endif %}
    {{ form.url.label }} {{ form.url(size =50,
    class_="form-control") }}
    </div>    
    {%if form.url.errors %}

    <ul class="list-group">
        {% for error in form.url.errors %}
        <li class="list-group
        -item list-group-item-danger">
            {{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if form.img.errors %}
    <div class = "form-group has-error">
    {% else %}
    <div class = "form-group">
    {% endif %}
    {{ form.img.label }} {{ form.img(size =50,
    class_="form-control") }}
    </div>    
    {%if form.img.errors %}

    <ul class="list-group">
        {% for error in form.img.errors %}
        <li class="list-group
        -item list-group-item-danger">
            {{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if form.author.errors %}
    <div class = "form-group has-error">
    {% else %}
    <div class = "form-group">
    {% endif %}
    {{ form.author.label }} {{ form.author(size =50,
    class_="form-control") }}
    </div>    
    {%if form.author.errors %}
    <ul class="list-group">
        {% for error in form.author.errors %}
        <li class="list-group
        -item list-group-item-danger">
            {{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class = "form-group">
        {{ form.genres.label }} {{ form.genres(size =50,
        class_="form-control") }}
        </div> 
    <input class="btn btn-default" type="submit" value ="Save">
</form>
{% endblock %}